---

---

<nav>
	<div class="column">
		<ul>
			<h3>Discover</h3>
			<li><a href="/#mission">Our Mission</a></li>
			<li><a href="/#projects">Bioresponsible Projects</a></li>
			<li><a href="/#restoration">Restoration</a></li>
			<li><a href="/#actionabiloity">Foster change</a></li>
		</ul>
		<ul>
			<br />
			<h3>Restoration</h3>
			<li>
				<a href="/restoration/oostvaardersplassen">oostvaardersplassen</a>
			</li>
			<li><a href="/restoration/gangetic-dolphin">Gangetic Dolhin</a></li>
			<li><a href="/restoration/iberan-wetlands">Ibera</a></li>
			<li><a href="/restoration/reefs-mannar">The reefs of Mannar</a></li>
		</ul>
	</div>
	<div class="column">
		<ul>
			<h3>Bioresponsible Projects</h3>
			<li><a href="/projects/carbon-seq">Climeworks</a></li>
			<li><a href="/projects/rescues">Orphan Animal Rescues</a></li>
			<li><a href="/projects/al-ula">Al Ula</a></li>
			<li><a href="/projects/biorescue-project">The Biorescue project</a></li>
		</ul>
		<ul>
			<br />
			<h3>Blog</h3>
			<li>
				<a href="/blog/sustainable-production">Prdducing Sustainably</a>
			</li>
			<li><a href="/blog/eco-tours">Promoting Eco Tours</a></li>
			<li><a href="/blog/alternatives-plastic">Alternatives to Plastic</a></li>
			<li><a href="/blog/footprint">The human footprint</a></li>
		</ul>
	</div>
</nav>

<style>
	nav {
		background: #333;
		color: #fff;
		/* display: flex;flex-direction: column; */
		padding: var(--space-l);
		display: flex;
		gap: var(--space-l);
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 500px) {
			flex-direction: column;
		}
	}

	a {
		text-decoration: underline 1.5px;
	}
</style>
